.dropdown-arrow {
    width: 6rem;
    height: 6rem;
    background: #e93692;
    border-radius: 50%;
    border: 2px solid #fff;
    
    top: 50%;
    left: 50%;    
    transform: translate(-50%, 50%);
    padding: 0.4%;

    a {
        font-size: 1.8rem;
        color: $white;
        text-decoration: none;

        svg {
            fill: $white;
        }
    }
}