// Color Names

$transparent: transparent;

$white: #ffffff;
$white-ghost: #f7f9ff;

$blue-aqua: #67D1F4;
$blue-royal: #452EB9;
$blue-sky: #5A47C3;
$blue-light: #E8F0FE;
$blue-dark: #402EA8;
$blue-dark-2: #3E24A4;

$purple: #832DBA;
$pink-pantone: #e93692;

$grey: #b3b3b3;
$light-grey: #dbdfef;
$grey-dark: #666666;
$grey-medium: #818181;
$grey-primary: #B1B1B1;
$grey-secondary: #C4C2C229;

$black-light: #00000048;
$black: #010101;
$black-dark: #000000;


// not in use
$magenta-dye: #c72e7d;
$violet: #732cba;
$silver: #666;
$platinum: #ebebeb;
$quicksilver: #a2a2a2;
$tundora: #484848;
$eerie-black: #161317;