.ncc {
    background-image: linear-gradient(180deg, $blue-sky 0%, $blue-dark 100%);
    // clip-path: polygon(34% 6%, 67% 6%, 99% 0, 100% 100%, 68% 94%, 29% 94%, 0 100%, 0 0);
    padding: 20rem 0;
    color: $white;

    button {
        font-size: 1.8rem;
        color: $white;
        background-color: $pink-pantone;
        padding: 1.8rem 3.5rem;
        border: none;
        border-radius: 0.6rem;
    }
}